<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGaOsZS5flCD7JwJJjoSCARMeF-HsBMyA</string>
	<key>GCM_SENDER_ID</key>
	<string>432518191581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ollygemini</string>
	<key>PROJECT_ID</key>
	<string>govbot-6a168</string>
	<key>STORAGE_BUCKET</key>
	<string>govbot-6a168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432518191581:ios:2964d634ff52d582b27e34</string>
</dict>
</plist>